* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  height: 100%;
}
body {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 60%;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.quiz-info {
  padding: 15px;
  display: flex;
  border-bottom: solid 1px #444;
}
.quiz-info .category,
.quiz-info .count {
  flex: 1;
  font-weight: 500;
  font-size: 18px;
}
.quiz-info .count {
  text-align: right;
}
.quiz-info .category span,
.quiz-info .count span {
  font-size: 1.1em;
  margin-left: 5px;
  font-weight: 600;
}

.quiz .question-area h2 {
  font-size: 20px;
  padding: 20px 20px 0;
}
.quiz .question-area .answers {
  padding: 20px;
}
.quiz .question-area .answers .answer {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: solid 1px #ccc;
}
.quiz .question-area .answers .answer input[type="radio"]:checked ~ label {
  color: #0075ff;
}
.quiz .question-area .answers .answer label {
  margin-left: 5px;
  color: #777;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  top: -2px;
}
.quiz .submit-btn {
  width: 90%;
  margin: 0 auto;
  display: block;
  padding: 10px 15px;
  background-color: #0075ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.quiz .tracker {
  margin-top: 15px;
  border-top: 1px solid #444;
  padding: 15px;
  display: flex;
}
.quiz .tracker .dots {
  flex: 1;
  display: flex;
  align-items: center;
}
.quiz .tracker .dots span {
  background-color: #777;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
}
.quiz .tracker .dots span.done {
  background-color: #0075ff;
}

.result {
  text-align: center;
  padding: 20px;
  display: none;
}
.result span {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0;
  text-transform: uppercase;
}
.result span.perfect {
  color: #6a11cb;
}
.result span.good {
  color: #1faf0c;
}
.result span.bad {
  color: #d22533;
}

.result p {
  font-size: 20px;
  padding: 10px;
}

.result img {
  margin: 10px 0;
  width: 300px;
}

@media (max-width: 500px) {
  .container {
    width: 90%;
    margin-top: 20px;
  }
  .quiz .question-area h2 {
    font-size: 15px;
  }
  .quiz-info .category,
  .quiz-info .count {
    font-size: 12px;
  }
  .quiz-info .category span,
  .quiz-info .count span {
    margin: 0;
  }
  .quiz .question-area .answers {
    padding: 10px;
  }
  .quiz .question-area .answers .answer {
    padding: 10px;
  }
  .quiz .question-area .answers .answer label {
    font-size: 14px;
  }
  .quiz .tracker {
    flex-direction: column;
    text-align: center;
  }
  .quiz .tracker .dots {
    justify-content: center;
    margin-bottom: 15px;
  }
  .result span {
    font-size: 20px;
  }
  .result img {
    width: 250px;
  }
}
